/* general */

html {
	/*background: url('../img/bg_noise.png');*/
	background: url('../img/bg_line.png') repeat-y;
	overflow-x: hidden;
}
body {
	margin: -1px -1px 0;
}
body, input, textarea {
	font-family: 
		'Roboto', 
		'Helvetica', 
		'Arial', 
		sans-serif;
}
header, main, footer {
	min-width: 1000px;
	/*max-width: 1500px;*/
	margin: 0 auto;
}
main {
	background: #fff;
	border: solid 1px #ccc;
	border-bottom: none;
	/*border-radius: 5px;
	box-shadow: 0 10px 40px #464646;*/
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Slabo 27px', serif;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}
a {
	color: #933;
}
a:hover {
	text-decoration: underline;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea.print {
	width: 100%;
	height: 500px;
}
.clear {
	clear: both;
}

/* header */

header {
	padding: 20px 0;
}
header h1 {
	font-weight: bold;
	float: left;
	font-variant: small-caps;
}
header h1 a {
	color: #eee;
}
header h1 a:hover {
	text-decoration: none;
	color: #fff;
}
header form {
	float: right;
	padding: 15px 0;
}
header input {
	font-size: 15px;
	height: 30px;
	margin: 0;
	outline: 0;
	padding: 0 10px;
	border: solid 1px #333;
}
header input[type=search] {
	margin-right: -5px;
	border-radius: 5px 0 0 5px;
	width: 333px;
}
header input[type=submit] {
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	background: #999;
}

/* sidebar */

aside {
	width: 240px;
	border-right: solid 1px #ccc;
	float: left;
	text-align: right;
}
aside nav a {
	color: #333;
	padding: 20px 10px;
	display: block;
	border-top: solid 1px #eee;
	border-right: solid 1px #eee;
}
aside nav a.current, 
aside nav a.current:hover {
	color: #933;
}
aside nav a:hover {
	color: #000;
	border-radius: 0 0 0 5px;
}
aside nav li:last-child a {
	border-radius: 0 0 0 4px;
}
aside #login, aside #user-panel {
	padding: 10px;
	background: #eee;
	border-radius: 5px 0 0 0;
	border-bottom: solid 1px #ccc;
	text-align: left;
}
aside h4 {
	margin: 0 0 10px;
	font-weight: bold;
}
aside #login input[type=text], 
aside #login input[type=password] {
	width: calc(100% - 11px);
}
aside #user-panel img {
	margin-left: 5px;
	border-radius: 5px;
	float: right;
	height: 100%;
}

/* content */

#content {
	min-width: 719px;
	width: calc(100% - 281px);
	margin-left: -1px;
	border-left: solid 1px #ccc;
	padding: 20px;
	display: block;
	float: left;
}
#content h2 {
	margin: 0 0 20px;
	float: left;
}
#content h3 {
	margin: 15px 0;
	clear: left;
}
#content p {
	margin: 0 0 15px;
	clear: left;
}
#content .add {
	float: right;
}
#content .add a {
	padding: 5px;
	display: inline-block;
	border: solid 1px #000;
	background: #933;
	color: #eee;
	border-radius: 5px;
}
#content .add a:before {
	content: '+ ';
}
#content .add a:hover {
	text-decoration: none;
	color: #fff;
	background: #a33;
}
#content table {
	width: 100%;
	margin: 0 0 20px;
}
#content table th,
#content table td {
	border: solid 1px #ccc;
	padding: 5px;
}
#content table th {
	background: #eee;
}

/* forms */

.std-form input, 
.std-form textarea,
.std-form select {
	margin-bottom: 5px;
	outline: 0;
	border: solid 1px #ccc;
	padding: 5px;
	border-radius: 5px;
}
.std-form input[type=text],
.std-form input[type=password],
.std-form input[type=search],
.std-form input[type=number],
.std-form select {
	background: #fff;
	width: calc(100% - 12px);
}
.std-form input[type=text].small,
.std-form input[type=password].small,
.std-form input[type=search].small,
.std-form input[type=number].small,
.std-form select.small {
	background: #fff;
	width: 110px;
}
.std-form input[type=text]:focus,
.std-form input[type=password]:focus,
.std-form input[type=search]:focus,
.std-form input[type=number]:focus,
.std-form textarea:focus {
	border-color: #999;
}
.std-form select {
	width: 100%;
}
.std-form select.small {
	width: 122px;
}
.std-form input[type=submit] {
	background: #ccc;
	border-color: #999;
	cursor: pointer;
	margin-top: 10px;
}
.std-form input[type=submit]:hover {
	background: #ddd;
}
.std-form textarea {
	width: 100%;
	resize: none;
}
.std-form label {
	font-size: .9em;
	display: block;
	margin: 5px;
}

/* footer */

footer {
	position: absolute;
	bottom: 0; left: 120px;
	color: #ccc;
	padding: 20px 0; 
	text-align: center;
	width: 100%;
}
footer a {
	color: #aaa;
	text-decoration: underline;
}